Binaries
DerivedDataCache
Intermediate
Saved
Content/StarterContent
Plugins
Platforms


.DS_Store
.vscode
.vsconfig
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
.ignore
.idea
CharacterTest.code-workspace
CMakeLists.txt
cmake-build-debug/
CharacterTest.xcworkspace/