Binaries
DerivedDataCache
Intermediate
Saved

Content/StarterContent
Content/Stylized_Egypt
Content/Realistic_Starter_VFX_Pack_Vol2
Content/ParagonPhase
Content/InfinityBladeWeapons
Content/ExampleContent

Plugins


.DS_Store
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
.ignore
.idea
CharacterTest.code-workspace
CMakeLists.txt
cmake-build-debug/
CharacterTest.xcworkspace/