Binaries
DerivedDataCache
Intermediate
Saved
Content/StarterContent
Plugins


.DS_Store
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
.ignore
.idea
CharacterTest.code-workspace
CMakeLists.txt
cmake-build-debug/
CharacterTest.xcworkspace/